<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p>Seja bem vindo {{user.name}}!</p>
    <p>Falta pouco para você poder acessar o sistema.</p>
    <a href="{{url}}">Clique aqui para confirmar seu e-mail</a>
  </body>
</html>